<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/exercises_page.css" />
  </head>
  <body>
    <div class="vd-container container">
      <div class="exercise">
        <div class="vd-exercise">
          <video
            class="vd"
            src="/images/header-sport.mp4"
            controls="controls"
          ></video>
        </div>
        <div class="content">
          <h2>Chest exercise for bigger chest</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            optio ea dolore in maxime numquam vitae eaque architecto rerum error
            nulla omnis sed alias labore sapiente est fugit placeat? Suscipit.
          </p>
        </div>
      </div>
      <div class="exercise">
        <div class="vd-exercise">
          <video
            class="vd"
            src="/images/header-sport.mp4"
            controls="controls"
          ></video>
        </div>
        <div class="content">
          <h2>Chest exercise for bigger chest</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
            optio ea dolore in maxime numquam vitae eaque architecto rerum error
            nulla omnis sed alias labore sapiente est fugit placeat? Suscipit.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
