<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kasper | Template Two</title>
    <script
      src="https://kit.fontawesome.com/3c97ef0f26.js"
      crossorigin="anonymous"
    ></script>
    <link href="/normalize.css" />
    <link rel="stylesheet" href="/all.min.css" />
    <!-- page css File  -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="path/to/font-awesome/css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <!-- Start Header  -->
    <header>
      <div class="container">
        <a href="#" class="logo"> Let's <span>Move</span></a>
        <nav>
          <!-- <span class="toggle-menu"
            ><span></span><span></span><span></span
          ></span> -->
          <i class="fas fa-bars toggle-menu"></i>
          <ul>
            <li><a class="active" href="/">Hem</a></li>
            <li><a href="#exercises">Kroppsövningar</a></li>
            <li><a href="#pricing">Träningsprogram</a></li>
            <li><a href="#about-us">Om oss</a></li>
            <li><a href="#contact">Kontakta oss</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- End Header  -->
    <!-- Start Lnading  -->
    <div class="landing">
      <div class="overlay">
        <div class="text">
          <div class="content">
            <h2>Välkommen till Let's <span>Move</span> !</h2>
            <p>
              Vi ska hjälpa dig att få din drömkropp. Vi erbjuder tränings och
              kost scheman som passar dig och ditt mål. Den innehåller
              kompleterade kroppsövningar och beräknade måltid som hjälper dig
              att gå upp/ned i vikt.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- End Lnading  -->
    <!-- Start Services  -->
    <div class="about-us" id="about-us">
      <div class="container">
        <div class="main-heading">
          <h2>Om oss</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
            voluptates.
          </p>
        </div>
        <div class="content">
          <div class="text">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum,
              nesciunt voluptate fugiat praesentium sit saepe optio beatae,
              natus nulla nostrum ab. Excepturi, facilis? Quibusdam voluptas
              cupiditate, rem ratione sint praesentium?
            </p>
          </div>
          <div class="image-container">
            <img src="/images/landing.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- End Services  -->

    <!-- Start Portfolio  -->
    <div class="portfolio exercises" id="exercises">
      <div class="container">
        <div class="main-heading">
          <h2>Kroppsövningar</h2>
          <p>
            Vi ger dig kompleterande kroppsövningar för att bygga upp din
            drömkropp!
          </p>
        </div>
      </div>
      <div class="imgs-container">
        <!-- <div class="box">
          <video class="vd" src="/images/header-sport.mp4"></video>

          <div class="button-container"><div class="button-play"></div></div>

          <div class="caption">
            <h4>Awesome Image</h4>
            <p>Phtotgraphy</p>
          </div>
        </div> -->
        <a href="/chest-exercises" class="box">
          <div>
            <img src="images/arm-excercises.jpg" alt="" />
            <div class="caption">
              <h4>Kroppsövningar</h4>
              <p>Phtotgraphy</p>
            </div>
          </div>
        </a>
        <a href="/chest-exercises" class="box">
          <div>
            <img src="images/arm-excercises.jpg" alt="" />
            <div class="caption">
              <h4>Kroppsövningar</h4>
              <p>Phtotgraphy</p>
            </div>
          </div>
        </a>
        <a href="/chest-exercises" class="box">
          <div>
            <img src="images/arm-excercises.jpg" alt="" />
            <div class="caption">
              <h4>Kroppsövningar</h4>
              <p>Phtotgraphy</p>
            </div>
          </div>
        </a>
        <a href="/chest-exercises" class="box">
          <div>
            <img src="images/arm-excercises.jpg" alt="" />
            <div class="caption">
              <h4>Kroppsövningar</h4>
              <p>Phtotgraphy</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- End Portfolio  -->
    <!-- Start Video  -->
    <!-- <div class="video">
      <video src="images/awesome-video.mp4" autoplay muted loop></video>
      <div class="text">
        <h2>Super Awesome Video Here</h2>
        <p>Its All You Need</p>
        <button>See More</button>
      </div>
    </div> -->
    <!-- End Video  -->

    <!-- Start Stat  -->
    <!-- <div class="stats">
      <div class="container">
        <div class="box">
          <i class="fas fa-mug-hot"></i>
          <div class="number">1.236</div>
          <p>Coffe Drinks</p>
        </div>
        <div class="box">
          <i class="far fa-folder"></i>
          <div class="number">256</div>
          <p>Completed Projects</p>
        </div>
        <div class="box">
          <i class="far fa-envelope"></i>
          <div class="number">1.743</div>
          <p>Mail Sent</p>
        </div>
        <div class="box">
          <i class="fas fa-trophy"></i>
          <div class="number">17</div>
          <p>Awards Received</p>
        </div>
      </div>
    </div> -->
    <!-- End Stat  -->

    <!-- Start Quote  -->
    <div class="quote">
      <div class="container">
        <q
          >Tro mig, belöningen är inte lika bra utan att behöva kämpa för
          det.</q
        >
        <span>Wilma Rudolph</span>
      </div>
    </div>
    <!-- End Quote  -->
    <!-- Start Pricing Section  -->
    <div class="pricing" id="pricing">
      <div class="container">
        <div class="main-heading">
          <h2>Träningsprogram</h2>
          <p>Här hittar du olika träningsprogram för att nå olika mål!</p>
        </div>
        <div class="plans">
          <div class="plan">
            <div class="head">
              <h3>Basic</h3>
              <span>19</span>
            </div>
            <ul>
              <li>Feature No 1</li>
              <li>Extra Feature</li>
              <li>Extra Feature No 2</li>
              <li>Feature</li>
            </ul>
            <div class="foot">
              <a href="#">Buy Now</a>
            </div>
          </div>
          <div class="plan">
            <div class="head">
              <h3>Premium</h3>
              <span>29</span>
            </div>
            <ul>
              <li>Feature No 1</li>
              <li>Extra Feature</li>
              <li>Extra Feature No 2</li>
              <li>Feature</li>
            </ul>
            <div class="foot">
              <a href="#">Buy Now</a>
            </div>
          </div>
          <div class="plan">
            <div class="head">
              <h3>Pro</h3>
              <span>39</span>
            </div>
            <ul>
              <li>Feature No 1</li>
              <li>Extra Feature</li>
              <li>Extra Feature No 2</li>
              <li>Feature</li>
            </ul>
            <div class="foot">
              <a href="#">Buy Now</a>
            </div>
          </div>
          <div class="plan">
            <div class="head">
              <h3>Platinum</h3>
              <span>49</span>
            </div>
            <ul>
              <li>Feature No 1</li>
              <li>Extra Feature</li>
              <li>Extra Feature No 2</li>
              <li>Feature</li>
            </ul>
            <div class="foot">
              <a href="#">Buy Now</a>
            </div>
          </div>
        </div>
        <!-- <p class="contact-text">Kontakta oss om du har några frågor</p>
        <a href="#" class="contact-link">Kontakta oss</a> -->
      </div>
    </div>
    <!-- End Pricing Section  -->
    <!-- Start Footer  -->
    <div class="footer" id="contact">
      <div class="container">
        <div class="section">
          <h2>Kontakta oss</h2>
          <a href="mailto:något@gmail.com?subject=Kontakt"
            ><i class="fa-solid fa-envelope"></i> något@gmail.com</a
          >
          <a href="/"
            ><i class="fa-brands fa-facebook-messenger"></i> Messenger</a
          >
          <p><i class="fa-solid fa-phone"></i> xxx-xxxxxxx</p>
        </div>
        <div class="section">
          <h2>Följ oss på sociala medier</h2>
          <a href="/"><i class="fa-brands fa-facebook"></i> Facebook</a>
          <a href="/"><i class="fa-brands fa-instagram"></i> Instagram</a>
        </div>
      </div>
      <div class="copy-right">
        <p>&copy; Let's Move Uf 2022</p>
      </div>
    </div>
    <!-- End Footer  -->
    <script src="/js/index.js"></script>
  </body>
</html>
